.nav-menu{text-align: right;}
.menu {text-decoration: none; color: #0000ee;}
.nav-spacing {margin: 0 0 0 10px; text-decoration: none; color: #0000ee;}
.image-link{text-decoration: none;}
.link-style{text-decoration: none; color: #0000ee;}
